:root {
  /* Color Primitives */
  --color-primitives-brand-100: rgb(245 245 245 / 1);
  --color-primitives-brand-200: rgb(230 230 230 / 1);
  --color-primitives-brand-300: rgb(217 217 217 / 1);
  --color-primitives-brand-400: rgb(179 179 179 / 1);
  --color-primitives-brand-500: rgb(117 117 117 / 1);
  --color-primitives-brand-600: rgb(68 68 68 / 1);
  --color-primitives-brand-700: rgb(56 56 56 / 1);
  --color-primitives-brand-800: rgb(44 44 44 / 1);
  --color-primitives-brand-900: rgb(30 30 30 / 1);
  --color-primitives-brand-1000: rgb(17 17 17 / 1);

  --color-primitives-brand-b-100: rgb(245 245 245 / 1);
  --color-primitives-brand-b-200: rgb(230 230 230 / 1);
  --color-primitives-brand-b-300: rgb(217 217 217 / 1);
  --color-primitives-brand-b-400: rgb(179 179 179 / 1);
  --color-primitives-brand-b-500: rgb(117 117 117 / 1);
  --color-primitives-brand-b-600: rgb(68 68 68 / 1);
  --color-primitives-brand-b-700: rgb(56 56 56 / 1);
  --color-primitives-brand-b-800: rgb(119 0 0 / 1);
  --color-primitives-brand-b-900: rgb(30 30 30 / 1);
  --color-primitives-brand-b-1000: rgb(17 17 17 / 1);

  --color-primitives-black-100: rgb(12 12 13 / 0.05);
  --color-primitives-black-200: rgb(12 12 13 / 0.1);
  --color-primitives-black-300: rgb(12 12 13 / 0.2);
  --color-primitives-black-400: rgb(12 12 13 / 0.4);
  --color-primitives-black-500: rgb(12 12 13 / 0.7);
  --color-primitives-black-600: rgb(12 12 13 / 0.8);
  --color-primitives-black-700: rgb(12 12 13 / 0.85);
  --color-primitives-black-800: rgb(12 12 13 / 0.9);
  --color-primitives-black-900: rgb(12 12 13 / 0.95);
  --color-primitives-black-1000: rgb(12 12 13 / 1);

  --color-primitives-white-100: rgb(255 255 255 / 0.05);
  --color-primitives-white-200: rgb(255 255 255 / 0.1);
  --color-primitives-white-300: rgb(255 255 255 / 0.2);
  --color-primitives-white-400: rgb(255 255 255 / 0.4);
  --color-primitives-white-500: rgb(255 255 255 / 0.7);
  --color-primitives-white-600: rgb(255 255 255 / 0.8);
  --color-primitives-white-700: rgb(255 255 255 / 0.85);
  --color-primitives-white-800: rgb(255 255 255 / 0.9);
  --color-primitives-white-900: rgb(255 255 255 / 0.95);
  --color-primitives-white-1000: rgb(255 255 255 / 1);

  --color-primitives-gray-100: rgb(245 245 245 / 1);
  --color-primitives-gray-200: rgb(230 230 230 / 1);
  --color-primitives-gray-300: rgb(217 217 217 / 1);
  --color-primitives-gray-400: rgb(179 179 179 / 1);
  --color-primitives-gray-500: rgb(117 117 117 / 1);
  --color-primitives-gray-600: rgb(68 68 68 / 1);
  --color-primitives-gray-700: rgb(56 56 56 / 1);
  --color-primitives-gray-800: rgb(44 44 44 / 1);
  --color-primitives-gray-900: rgb(30 30 30 / 1);
  --color-primitives-gray-1000: rgb(17 17 17 / 1);

  --color-primitives-green-100: rgb(235 255 238 / 1);
  --color-primitives-green-200: rgb(207 247 211 / 1);
  --color-primitives-green-300: rgb(175 244 198 / 1);
  --color-primitives-green-400: rgb(133 224 163 / 1);
  --color-primitives-green-500: rgb(20 174 92 / 1);
  --color-primitives-green-600: rgb(0 153 81 / 1);
  --color-primitives-green-700: rgb(0 128 67 / 1);
  --color-primitives-green-800: rgb(2 84 45 / 1);
  --color-primitives-green-900: rgb(2 64 35 / 1);
  --color-primitives-green-1000: rgb(6 45 27 / 1);

  --color-primitives-pink-100: rgb(252 241 253 / 1);
  --color-primitives-pink-200: rgb(250 225 250 / 1);
  --color-primitives-pink-300: rgb(245 192 239 / 1);
  --color-primitives-pink-400: rgb(241 158 220 / 1);
  --color-primitives-pink-500: rgb(234 63 184 / 1);
  --color-primitives-pink-600: rgb(215 50 168 / 1);
  --color-primitives-pink-700: rgb(186 42 146 / 1);
  --color-primitives-pink-800: rgb(138 34 111 / 1);
  --color-primitives-pink-900: rgb(87 24 74 / 1);
  --color-primitives-pink-1000: rgb(63 21 54 / 1);

  --color-primitives-red-100: rgb(254 233 231 / 1);
  --color-primitives-red-200: rgb(253 211 208 / 1);
  --color-primitives-red-300: rgb(252 179 173 / 1);
  --color-primitives-red-400: rgb(244 119 106 / 1);
  --color-primitives-red-500: rgb(236 34 31 / 1);
  --color-primitives-red-600: rgb(192 15 12 / 1);
  --color-primitives-red-700: rgb(144 11 9 / 1);
  --color-primitives-red-800: rgb(105 8 7 / 1);
  --color-primitives-red-900: rgb(77 11 10 / 1);
  --color-primitives-red-1000: rgb(48 6 3 / 1);

  --color-primitives-slate-100: rgb(243 243 243 / 1);
  --color-primitives-slate-200: rgb(227 227 227 / 1);
  --color-primitives-slate-300: rgb(205 205 205 / 1);
  --color-primitives-slate-400: rgb(178 178 178 / 1);
  --color-primitives-slate-500: rgb(148 148 148 / 1);
  --color-primitives-slate-600: rgb(118 118 118 / 1);
  --color-primitives-slate-700: rgb(90 90 90 / 1);
  --color-primitives-slate-800: rgb(67 67 67 / 1);
  --color-primitives-slate-900: rgb(48 48 48 / 1);
  --color-primitives-slate-1000: rgb(36 36 36 / 1);

  --color-primitives-yellow-100: rgb(255 251 235 / 1);
  --color-primitives-yellow-200: rgb(255 241 194 / 1);
  --color-primitives-yellow-300: rgb(255 232 163 / 1);
  --color-primitives-yellow-400: rgb(232 185 49 / 1);
  --color-primitives-yellow-500: rgb(229 160 0 / 1);
  --color-primitives-yellow-600: rgb(191 106 2 / 1);
  --color-primitives-yellow-700: rgb(151 81 2 / 1);
  --color-primitives-yellow-800: rgb(104 45 3 / 1);
  --color-primitives-yellow-900: rgb(82 37 4 / 1);
  --color-primitives-yellow-1000: rgb(64 27 1 / 1);

  /* Background Colors */
  --color-background-default-default: var(--color-primitives-gray-900);
  --color-background-default-default-hover: var(--color-primitives-gray-100);
  --color-background-default-secondary: var(--color-primitives-gray-100);
  --color-background-default-secondary-hover: var(--color-primitives-gray-200);
  --color-background-default-tertiary: var(--color-primitives-gray-300);
  --color-background-default-tertiary-hover: var(--color-primitives-gray-400);

  --color-background-neutral-default: var(--color-primitives-slate-700);
  --color-background-neutral-hover: var(--color-primitives-slate-800);
  --color-background-neutral-secondary: var(--color-primitives-slate-300);
  --color-background-neutral-secondary-hover: var(--color-primitives-slate-400);
  --color-background-neutral-tertiary: var(--color-primitives-slate-200);
  --color-background-neutral-tertiary-hover: var(--color-primitives-slate-300);

  --color-background-brand-default: var(--color-primitives-brand-800);
  --color-background-brand-hover: var(--color-primitives-brand-900);
  --color-background-brand-secondary: var(--color-primitives-brand-200);
  --color-background-brand-secondary-hover: var(--color-primitives-brand-300);
  --color-background-brand-tertiary: var(--color-primitives-brand-100);
  --color-background-brand-tertiary-hover: var(--color-primitives-brand-200);

  --color-background-positive-default: var(--color-primitives-green-500);
  --color-background-positive-hover: var(--color-primitives-green-600);
  --color-background-positive-secondary: var(--color-primitives-green-200);
  --color-background-positive-secondary-hover: var(
    --color-primitives-green-300
  );
  --color-background-positive-tertiary: var(--color-primitives-green-100);
  --color-background-positive-tertiary-hover: var(--color-primitives-green-200);

  --color-background-warning-default: var(--color-primitives-yellow-400);
  --color-background-warning-hover: var(--color-primitives-yellow-500);
  --color-background-warning-secondary: var(--color-primitives-yellow-200);
  --color-background-warning-secondary-hover: var(
    --color-primitives-yellow-300
  );
  --color-background-warning-tertiary: var(--color-primitives-yellow-100);
  --color-background-warning-tertiary-hover: var(--color-primitives-yellow-200);

  --color-background-danger-default: var(--color-primitives-red-500);
  --color-background-danger-hover: var(--color-primitives-red-600);
  --color-background-danger-secondary: var(--color-primitives-red-200);
  --color-background-danger-secondary-hover: var(--color-primitives-red-300);
  --color-background-danger-tertiary: var(--color-primitives-red-100);
  --color-background-danger-tertiary-hover: var(--color-primitives-red-200);

  --color-background-disabled-default: var(--color-primitives-brand-300);

  /* Utility Backgrounds */
  --color-background-utilities-scrim: rgb(255 255 255 / 0.8);
  --color-background-utilities-blanket: rgb(0 0 0 / 0.7);
  --color-background-utilities-overlay: rgb(0 0 0 / 0.5);
  --color-background-utilities-measurement: var(--color-primitives-pink-200);

  /* Text Colors */
  --color-text-default-default: var(--color-primitives-gray-900);
  --color-text-default-secondary: var(--color-primitives-gray-500);
  --color-text-default-tertiary: var(--color-primitives-gray-400);

  --color-text-neutral-default: var(--color-primitives-slate-900);
  --color-text-neutral-secondary: var(--color-primitives-slate-700);
  --color-text-neutral-tertiary: var(--color-primitives-slate-600);
  --color-text-neutral-on-neutral: var(--color-primitives-slate-100);
  --color-text-neutral-on-neutral-secondary: var(--color-primitives-slate-900);
  --color-text-neutral-on-neutral-tertiary: var(--color-primitives-slate-800);

  --color-text-brand-default: var(--color-primitives-brand-800);
  --color-text-brand-secondary: var(--color-primitives-brand-600);
  --color-text-brand-tertiary: var(--color-primitives-brand-500);
  --color-text-brand-on-brand: var(--color-primitives-brand-100);
  --color-text-brand-on-brand-secondary: var(--color-primitives-brand-900);
  --color-text-brand-on-brand-tertiary: var(--color-primitives-brand-800);

  --color-text-positive-default: var(--color-primitives-green-800);
  --color-text-positive-secondary: var(--color-primitives-green-600);
  --color-text-positive-tertiary: var(--color-primitives-green-500);
  --color-text-positive-on-positive: var(--color-primitives-green-100);
  --color-text-positive-on-positive-secondary: var(
    --color-primitives-green-800
  );
  --color-text-positive-on-positive-tertiary: var(--color-primitives-green-800);

  --color-text-warning-default: var(--color-primitives-yellow-900);
  --color-text-warning-secondary: var(--color-primitives-yellow-700);
  --color-text-warning-tertiary: var(--color-primitives-yellow-600);
  --color-text-warning-on-warning: var(--color-primitives-yellow-1000);
  --color-text-warning-on-warning-secondary: var(--color-primitives-yellow-800);
  --color-text-warning-on-warning-tertiary: var(--color-primitives-yellow-900);

  --color-text-danger-default: var(--color-primitives-red-700);
  --color-text-danger-secondary: var(--color-primitives-red-600);
  --color-text-danger-tertiary: var(--color-primitives-red-500);
  --color-text-danger-on-danger: var(--color-primitives-red-100);
  --color-text-danger-on-danger-secondary: var(--color-primitives-red-700);
  --color-text-danger-on-danger-tertiary: var(--color-primitives-red-700);

  --color-text-disabled-default: var(--color-primitives-brand-400);
  --color-text-disabled-on-disabled: var(--color-primitives-brand-400);

  --color-text-utilities-text-on-overlay: var(--color-primitives-black-1000);
  --color-text-utilities-text-on-measurement: var(--color-primitives-pink-800);

  /* Border Colors */
  --color-border-default-default: var(--color-primitives-gray-300);
  --color-border-default-secondary: var(--color-primitives-gray-500);
  --color-border-default-tertiary: var(--color-primitives-gray-700);

  --color-border-neutral-default: var(--color-primitives-slate-900);
  --color-border-neutral-secondary: var(--color-primitives-slate-600);
  --color-border-neutral-tertiary: var(--color-primitives-slate-400);

  --color-border-brand-default: var(--color-primitives-brand-800);
  --color-border-brand-secondary: var(--color-primitives-brand-600);
  --color-border-brand-tertiary: var(--color-primitives-brand-500);

  --color-border-positive-default: var(--color-primitives-green-800);
  --color-border-positive-secondary: var(--color-primitives-green-600);
  --color-border-positive-tertiary: var(--color-primitives-green-500);

  --color-border-warning-default: var(--color-primitives-yellow-900);
  --color-border-warning-secondary: var(--color-primitives-yellow-700);
  --color-border-warning-tertiary: var(--color-primitives-yellow-600);

  --color-border-danger-default: var(--color-primitives-red-700);
  --color-border-danger-secondary: var(--color-primitives-red-600);
  --color-border-danger-tertiary: var(--color-primitives-red-500);

  --color-border-disabled-default: var(--color-primitives-brand-400);

  --color-border-utilities-measurement: var(--color-primitives-pink-400);
  --color-border-utilities-swatch: rgb(0 0 0 / 0.24);

  /* Icon Colors */
  --color-icon-default-default: var(--color-primitives-gray-900);
  --color-icon-default-secondary: var(--color-primitives-gray-500);
  --color-icon-default-tertiary: var(--color-primitives-gray-400);

  --color-icon-neutral-default: var(--color-primitives-slate-900);
  --color-icon-neutral-secondary: var(--color-primitives-slate-700);
  --color-icon-neutral-tertiary: var(--color-primitives-slate-600);
  --color-icon-neutral-on-neutral: var(--color-primitives-slate-100);
  --color-icon-neutral-on-neutral-secondary: var(--color-primitives-slate-900);
  --color-icon-neutral-on-neutral-tertiary: var(--color-primitives-slate-800);

  --color-icon-brand-default: var(--color-primitives-brand-800);
  --color-icon-brand-secondary: var(--color-primitives-brand-600);
  --color-icon-brand-tertiary: var(--color-primitives-brand-500);
  --color-icon-brand-on-brand: var(--color-primitives-brand-100);
  --color-icon-brand-on-brand-secondary: var(--color-primitives-brand-900);
  --color-icon-brand-on-brand-tertiary: var(--color-primitives-brand-800);

  --color-icon-positive-default: var(--color-primitives-green-800);
  --color-icon-positive-secondary: var(--color-primitives-green-600);
  --color-icon-positive-tertiary: var(--color-primitives-green-500);
  --color-icon-positive-on-positive: var(--color-primitives-green-100);
  --color-icon-positive-on-positive-secondary: var(
    --color-primitives-green-800
  );
  --color-icon-positive-on-positive-tertiary: var(--color-primitives-green-900);

  --color-icon-warning-default: var(--color-primitives-yellow-900);
  --color-icon-warning-secondary: var(--color-primitives-yellow-700);
  --color-icon-warning-tertiary: var(--color-primitives-yellow-600);
  --color-icon-warning-on-warning: var(--color-primitives-yellow-1000);
  --color-icon-warning-on-warning-secondary: var(--color-primitives-yellow-800);
  --color-icon-warning-on-warning-tertiary: var(--color-primitives-yellow-900);

  --color-icon-danger-default: var(--color-primitives-red-700);
  --color-icon-danger-secondary: var(--color-primitives-red-600);
  --color-icon-danger-tertiary: var(--color-primitives-red-500);
  --color-icon-danger-on-danger: var(--color-primitives-red-100);
  --color-icon-danger-on-danger-secondary: var(--color-primitives-red-700);
  --color-icon-danger-on-danger-tertiary: var(--color-primitives-red-700);

  --color-icon-disabled-default: var(--color-primitives-brand-400);
  --color-icon-disabled-on-disabled: var(--color-primitives-brand-400);

  --color-icon-utilities-icon: var(--color-primitives-pink-600);
  --color-icon-utilities-icon-on-measurement: var(--color-primitives-pink-800);

  /* Typography Primitives */
  --typography-primitives-family-sans: 'Inter';
  --typography-primitives-family-serif: 'Noto Serif';
  --typography-primitives-family-mono: 'Roboto Mono';

  --typography-primitives-scale-01: 12px;
  --typography-primitives-scale-02: 14px;
  --typography-primitives-scale-03: 16px;
  --typography-primitives-scale-04: 20px;
  --typography-primitives-scale-05: 24px;
  --typography-primitives-scale-06: 32px;
  --typography-primitives-scale-07: 40px;
  --typography-primitives-scale-08: 48px;
  --typography-primitives-scale-09: 64px;
  --typography-primitives-scale-10: 72px;

  --typography-primitives-weight-thin: 100;
  --typography-primitives-weight-thin-italic: 'Thin Italic';
  --typography-primitives-weight-extra-light: 200;
  --typography-primitives-weight-extralight-italic: 'Extra Light Italic';
  --typography-primitives-weight-light: 300;
  --typography-primitives-weight-light-italic: 'Light Italic';
  --typography-primitives-weight-regular: 400;
  --typography-primitives-weight-regular-italic: 'Italic';
  --typography-primitives-weight-medium: 500;
  --typography-primitives-weight-medium-italic: 'Medium Italic';
  --typography-primitives-weight-semibold: 600;
  --typography-primitives-weight-semibold-italic: 'Semi Bold Italic';
  --typography-primitives-weight-bold: 700;
  --typography-primitives-weight-bold-italic: 'Bold Italic';
  --typography-primitives-weight-extra-bold: 800;
  --typography-primitives-weight-extra-bold-italic: 'Extra Bold Italic';
  --typography-primitives-weight-black: 900;
  --typography-primitives-weight-black-italic: 'Black Italic';

  /* Typography Tokens */
  --typography-title-hero-font-family: var(--typography-primitives-family-sans);
  --typography-title-hero-size: var(--typography-primitives-scale-10);
  --typography-title-hero-font-weight: var(--typography-primitives-weight-bold);

  --typography-title-page-font-family: var(--typography-primitives-family-sans);
  --typography-title-page-size-small: var(--typography-primitives-scale-07);
  --typography-title-page-size-base: var(--typography-primitives-scale-08);
  --typography-title-page-size-large: var(--typography-primitives-scale-09);
  --typography-title-page-font-weight: var(--typography-primitives-weight-bold);

  --typography-subtitle-font-family: var(--typography-primitives-family-sans);
  --typography-subtitle-size-small: var(--typography-primitives-scale-05);
  --typography-subtitle-size-base: var(--typography-primitives-scale-06);
  --typography-subtitle-size-large: var(--typography-primitives-scale-07);
  --typography-subtitle-font-weight: var(
    --typography-primitives-weight-regular
  );

  --typography-heading-font-family: var(--typography-primitives-family-sans);
  --typography-heading-size-small: var(--typography-primitives-scale-04);
  --typography-heading-size-base: var(--typography-primitives-scale-05);
  --typography-heading-size-large: var(--typography-primitives-scale-06);
  --typography-heading-font-weight: var(
    --typography-primitives-weight-semibold
  );

  --typography-subheading-font-family: var(--typography-primitives-family-sans);
  --typography-subheading-size-small: var(--typography-primitives-scale-03);
  --typography-subheading-size-medium: var(--typography-primitives-scale-04);
  --typography-subheading-size-large: var(--typography-primitives-scale-05);
  --typography-subheading-font-weight: var(
    --typography-primitives-weight-regular
  );

  --typography-body-font-family: var(--typography-primitives-family-sans);
  --typography-body-size-small: var(--typography-primitives-scale-02);
  --typography-body-size-medium: var(--typography-primitives-scale-03);
  --typography-body-size-large: var(--typography-primitives-scale-04);
  --typography-body-font-weight-regular: var(
    --typography-primitives-weight-regular
  );
  --typography-body-font-weight-strong: var(
    --typography-primitives-weight-semibold
  );
  --typography-body-font-style-italic: var(
    --typography-primitives-weight-regular-italic
  );

  --typography-code-font-family: var(--typography-primitives-family-mono);
  --typography-code-size-small: var(--typography-body-size-small);
  --typography-code-size-base: var(--typography-body-size-medium);
  --typography-code-size-large: var(--typography-body-size-large);
  --typography-code-font-weight: var(--typography-body-font-weight-regular);

  /* Responsive */
  --responsive-device: 'desktop';
  --responsive-device-width: 1200px;
  --responsive-root-font-size: var(--scale-03);
  --responsive-scale: 1px;

  /* Spacing */
  --size-space-0: 0px;
  --size-space-050: 2px;
  --size-space-100: 4px;
  --size-space-150: 6px;
  --size-space-200: 8px;
  --size-space-300: 12px;
  --size-space-400: 16px;
  --size-space-600: 24px;
  --size-space-800: 32px;
  --size-space-1200: 48px;
  --size-space-1600: 64px;
  --size-space-2400: 96px;
  --size-space-4000: 160px;
  --size-space-negative-100: -4px;
  --size-space-negative-200: -8px;
  --size-space-negative-300: -12px;
  --size-space-negative-400: -16px;
  --size-space-negative-600: -24px;

  /* Radius & Blur */
  --size-radius-100: 4px;
  --size-radius-200: 8px;
  --size-radius-400: 16px;
  --size-radius-full: 9999px;
  --size-blur-100: 4px;

  /* Depth */
  --size-depth-0: 0px;
  --size-depth-025: 1px;
  --size-depth-100: 4px;
  --size-depth-200: 8px;
  --size-depth-400: 16px;
  --size-depth-800: 32px;
  --size-depth-1200: 48px;
  --size-depth-negative-025: -1px;
  --size-depth-negative-100: -4px;
  --size-depth-negative-200: -8px;
  --size-depth-negative-400: -16px;
  --size-depth-negative-800: -32px;
  --size-depth-negative-1200: -48px;

  /* Stroke & Icon Sizes */
  --size-stroke-border: 1px;
  --size-stroke-focus-ring: 2px;
  --size-icon-small: 24px;
  --size-icon-medium: 32px;
  --size-icon-large: 40px;
}

.title-hero {
  font-size: var(--typography-title-hero-size);
  font-family: var(--typography-title-hero-font-family), sans-serif;
  font-weight: var(--typography-title-hero-font-weight);
  line-height: 1.2;
}
.title-page {
  font-size: var(--typography-title-page-size-base);
  font-family: var(--typography-title-page-font-family), sans-serif;
  font-weight: var(--typography-title-page-font-weight);
  line-height: 1.2;
}
.subtitle {
  font-size: var(--typography-subtitle-size-base);
  font-family: var(--typography-subtitle-font-family), sans-serif;
  font-weight: var(--typography-subtitle-font-weight);
  line-height: 1.2;
}
.heading {
  font-size: var(--typography-heading-size-base);
  font-family: var(--typography-heading-font-family), sans-serif;
  font-weight: var(--typography-heading-font-weight);
  line-height: 1.2;
}
.subheading {
  font-size: var(--typography-subheading-size-medium);
  font-family: var(--typography-subheading-font-family), sans-serif;
  font-weight: var(--typography-subheading-font-weight);
  line-height: 1.2;
}
.body-base {
  font-size: var(--typography-body-size-medium);
  font-family: var(--typography-body-font-family), sans-serif;
  font-weight: var(--typography-body-font-weight-regular);
  line-height: 1.4;
}
.body-strong {
  font-size: var(--typography-body-size-medium);
  font-family: var(--typography-body-font-family), sans-serif;
  font-weight: var(--typography-body-font-weight-strong);
  line-height: 1.4;
}
.body-emphasis {
  font-size: var(--typography-body-size-medium);
  font-family: var(--typography-body-font-family), sans-serif;
  font-style: italic;
  font-weight: var(--typography-body-font-weight-regular);
  line-height: 1.4;
}
.body-link {
  font-size: var(--typography-body-size-medium);
  font-family: var(--typography-body-font-family), sans-serif;
  font-weight: var(--typography-body-font-weight-regular);
  text-decoration: underline;
  line-height: 1.4;
}
.body-small {
  font-size: var(--typography-body-size-small);
  font-family: var(--typography-body-font-family), sans-serif;
  font-weight: var(--typography-body-font-weight-regular);
  line-height: 1.4;
}
.body-small-strong {
  font-size: var(--typography-body-size-small);
  font-family: var(--typography-body-font-family), sans-serif;
  font-weight: var(--typography-body-font-weight-strong);
  line-height: 1.4;
}
.body-code {
  font-size: var(--typography-code-size-base);
  font-family: var(--typography-code-font-family), monospace;
  font-weight: var(--typography-code-font-weight);
  line-height: 1;
}
.single-line__body-base {
  font-size: var(--typography-body-size-medium);
  font-family: var(--typography-body-font-family), sans-serif;
  font-weight: var(--typography-body-font-weight-regular);
  line-height: 1;
}
.single-line__body-small-strong {
  font-size: var(--typography-body-size-small);
  font-family: var(--typography-body-font-family), sans-serif;
  font-weight: var(--typography-body-font-weight-strong);
  line-height: 1;
}
.utilities__componentnotes__regular {
  font-size: var(--typography-code-size-base);
  font-family: var(--typography-code-font-family), monospace;
  font-weight: var(--typography-code-font-weight);
  line-height: 1.4;
}
.utilities__componentnotes__bold {
  font-size: var(--typography-code-size-base);
  font-family: var(--typography-code-font-family), monospace;
  font-weight: var(--typography-body-font-weight-strong);
  line-height: 1.4;
}

.drop-shadow__100 {
  box-shadow: 0px 1px 4px rgba(12, 12, 13, 0.05);
}
.drop-shadow__200 {
  box-shadow:
    0px 1px 4px rgba(12, 12, 13, 0.05),
    0px 1px 4px rgba(12, 12, 13, 0.1);
}
.drop-shadow__300 {
  box-shadow:
    0px 4px 4px rgba(12, 12, 13, 0.05),
    0px 4px 4px rgba(12, 12, 13, 0.1);
}
.drop-shadow__400 {
  box-shadow:
    0px 4px 4px rgba(12, 12, 13, 0.05),
    0px 16px 32px rgba(12, 12, 13, 0.1);
}
.drop-shadow__500 {
  box-shadow:
    0px 4px 4px rgba(12, 12, 13, 0.05),
    0px 16px 16px rgba(12, 12, 13, 0.1);
}
.drop-shadow__600 {
  box-shadow: 0px 16px 32px rgba(12, 12, 13, 0.4);
}
.inner-shadow__100 {
  box-shadow: inset 0px 1px 4px rgba(12, 12, 13, 0.05);
}
.inner-shadow__200 {
  box-shadow: inset 0px 1px 4px rgba(12, 12, 13, 0.05);
}
.inner-shadow__300 {
  box-shadow: inset 0px 4px 4px rgba(12, 12, 13, 0.05);
}
.inner-shadow__400 {
  box-shadow: inset 0px 16px 32px rgba(12, 12, 13, 0.1);
}
.inner-shadow__500 {
  box-shadow: inset 0px 16px 16px rgba(12, 12, 13, 0.1);
}
.inner-shadow__600 {
  box-shadow: inset 0px 16px 32px rgba(12, 12, 13, 0.4);
}
.blur__overlay {
  backdrop-filter: blur(2px);
}
.blur__layer {
  filter: blur(2px);
}
.blur__glass {
  backdrop-filter: blur(2px);
}
.image-placeholder {
  background: #e3e3e3;
}